.default {
	background: #292929;
	border: 1px solid #111;	
	border-radius: 5px;	
	overflow: hidden;
	box-shadow: 0 0 5px #333;				
	  text-align: right;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
}
.default div {
	background-color: #1a82f7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0099FF), to(#1a82f7)); 
	background: -webkit-linear-gradient(top, #0099FF, #1a82f7); 
	background: -moz-linear-gradient(top, #0099FF, #1a82f7); 
	background: -ms-linear-gradient(top, #0099FF, #1a82f7); 
	background: -o-linear-gradient(top, #0099FF, #1a82f7);
}