@CHARSET "UTF-8";

ul.entity-list
{
	list-style:none;
	display:block;
	padding:5px;
	max-height:350px;
	overflow-y:auto;
	background-color:#fff;
}

ul.entity-list > li
{
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#ccc;
	cursor:pointer;
	padding:5px 0 5px 5px;
	outline:none;
	display:block;
	/* background-color:#fff; */
}

ul.entity-list > li.hidden
{
	display:none;
}

ul.entity-list > li > div {
    display: table-cell;
}

/* ul.entity-list > li .entity-title
{
	font-weight:bold;
	display:inline-block;
}

ul.entity-list > li .entity-summary
{
	display:block;
	font-size:0.8em;
} */

ul.entity-list > li .entity-title
{
	font-weight: bold;
    display: inline-block;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul.entity-list > li .entity-icon
{
	display:inline-block;
	float:left;
	margin-right:5px;
}

.entity-icon > img
{
	width:16px;
	height:16px;
}

ul.entity-list > li .entity-action
{
	display:inline-block;
	float:right;
}

.entity-action > a
{
	margin-left:5px;
	margin-right:5px;
}

ul.entity-list > li .entity-summary
{
	display:block;
	font-size:0.8em;
}

div.entity-search
{
	display: block;
    width: 100%;
    padding: 10px;
}

div.entity-search > .stdTextBox
{
	width:92%;
}

/* For Selection */
li.ui-selected
{
	background-color:#ccc;
}

li.ui-selecting
{
	background-color:#ddd;
}