/***

Yethi Consulting Private Ltd. CONFIDENTIAL


Name of this file: project_dashboard.css


Module: TENJIN - INTELLIGENT ENTERPRISE TESTING ENGINE


Copyright ? 2016-17 by Yethi Consulting Private Ltd.


This source file is part of the TENJIN Software Product and System 
and is copyrighted by Yethi Consulting Private Ltd.

All rights reserved.  No part of this work may be reproduced, copied, 
duplicated, adopted, distributed, reverse engineered, stored in a retrieval  
system, transmitted in any form or by any means, electronic, 
mechanical, photographic, graphic, optic recording or otherwise, translated 
in any language or computer language, sold, rented, leased without the prior 
written permission of Yethi Consulting Services Private Ltd.

Notice: All information and source code contained in this file is, and remains 
the property of Yethi Consulting Services Private Ltd., and its suppliers, if any. 
The intellectual and technical concepts contained herein are proprietary to Yethi 
Consulting Services Private Ltd., and its suppliers and may be covered under patents 
and patents in process and are protected by trade secret or copyright laws. Dissemination 
of this information or reproduction of this material is strictly forbidden unless prior 
written permission is obtained from Yethi Consulting Services Private Ltd. 


Yethi Consulting Private Ltd.
# 1308, 4th Floor, Shetty Plaza,JB Nagar Main Road,
HAL 3rd Stage, Bangalore - 560 075,
Karnataka-560075,India
	 
*	 
*/

/******************************************
* CHANGE HISTORY
* ==============
*
* DATE                 	CHANGED BY              DESCRIPTION
11-02-2019         	   	Padmavathi             	TENJINCG-924
03-05-2019				Preeti					TENJINCG-1019

* 
*/



@CHARSET "ISO-8859-1";

td.jqplot-table-legend{
	text-align: center;
    padding-top: 0.5em;
}
.jqplot-highlighter-tooltip {
    border: 1px solid #cccccc;
    font-size: 1em;
    white-space: nowrap;
    background: #ECF0F1; 
    padding: 1px;
}
.label{
display: inline; 
font-size: 75%;
font-weight: 700; 
line-height: 1; 
color: #fff; 
text-align: center; 
white-space: nowrap; 
vertical-align: baseline;
border-radius: .25em; 
text-transform: uppercase; 
position: relative;
bottom: 1px; 
padding: 0.3em 0.6em;
}
.label-error{
color: #000; 
background-color: #FFAB00; 
}
.label-pass{
background-color: #36B37E; 
}
.label-fail{
background-color: #FF5630;
}

.dashboard_container_16 {
  
  width: 1050px;

}
body {
  min-width: 1000px;
}
.dashboard_grid_linkages,
.dashboard_grid_7,
.dashboard_grid_defects,
.dashboard_grid_line_report,
.dashboard_grid_pie_chart{
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10px
}
.dashboard_grid_linkages {
  width: 500px;
}
.dashboard_grid_7 {
 width: 320px;
}
 .dashboard_grid_defects {
  width: 500px;
}
 .dashboard_grid_line_report,.dashboard_grid_pie_chart {
	
  width: 500px;
}

 .dashboard_grid_10 {
  width: 580px;
}
.dashboard th{
 border-bottom-width: 1px; 
 border-bottom-style: solid; 
 border-bottom-color: #ccc; 
 border-right-color: #ccc; 
 border-right-width: 1px;
 padding: 5px; 
 /* border-right-style: solid; */
 background-color: #ddd;
 color: #000; 
 text-align: center; 
 bgcolor:ddd	
}
.dashboard td{
 padding: 5px; 
 border-bottom-style: solid; 
 border-bottom-color: #ccc; 
 border-bottom-width: 1px; 
 /* border-right-style: solid;  */
 border-right-color: #ccc; 
 border-right-width: 1px;
 text-align: center;	
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap; 
 max-width: 200px;
}

#dashboard_runs{
  border:1px solid rgb( 229, 231, 233);
  height: 250px;
  padding: 5px;
  font-size:0.9em;
  background-color: #fff; 
 border-top-width: 4px;
  /* border-top-style: solid; */
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-color: #2684ff;
 
}
#defects,#runs{
/* border-radius: 1px; */
background-color: #fff; 
margin-top: 10px; 
/* border: 1px solid #ccc; */
bgcolor:#fff;
width:100%;
cellspacing:0;
cellpadding:0;
margin-top: 15px

}
#dashboared_linkages,#dashboared_defects,#dashboared_runs{
 border:1px solid rgb( 229, 231, 233);
  height: 230px;
  padding: 5px;
font-size:0.9em;
 background-color: #fff; 
 border-top-width: 4px;
border-top-style: solid;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-color: #2684ff;
}
#execution_chart{
 border:1px solid rgb( 229, 231, 233);
height: 250px;
padding: 5px;
font-size:0.9em;
background-color: #fff; 
border-top-width: 4px;
border-top-style: solid;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border-top-color: #2684ff;
}
.titles{
text-transform: capitalize; 
font-weight: bold; 
font-size: 1.4em;
}
.summtable_linkages {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}
.summtable_linkages td {
    padding: 10px;
    text-align: left;    
}
.bold_linkages{ 
/* font-weight: bold; */
font-size:1.1em;
}
.runs_section{
	  width: 460px;
}
.line_chart{
	width: 460px;
}
.title-normal{
	
	font-weight: bold; 
	font-size: 1.3em; 
	color: #3b73af;"
}
.testcasereport{
font-size: 1.18em; font-weight: bold; color: #3b73af;
}
.lastrun{
text-transform: capitalize;
 font-weight: bold; 
 font-size: 1.7em;
}
/* Added by Preeti for TENJINCG-1019 starts */
.dashboard_exec_status_chart,
.dashboard_exec_trend_chart,
.dashboard_def_severity_chart,
.dashboard_def_status_chart {
  display: inline;
  float: left;
  margin-left: 	30px;
  margin-right: 10px;
  margin-top:10px;
  margin-bottom:20px;
  width: 480px;
}
#infoTable{
	margin:20px;
	width:60%;
	border:1px solid rgb( 229, 231, 233);
 	height: 300px;
  	padding: 5px;
 	background-color: #fff; 
 	border-top-width: 5px;
	border-top-style: solid;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-color: #2684ff;
}
.container{
	margin-top:5px;
}
#chartTable{
	margin:20px;
    border-collapse: collapse;
    border-style: hidden;
}

#chartTable td{
    border: 2px solid grey;
    color:blue; 
}
#dashboardTable td{
	text-align:center;
    color:blue; 
    font-size:17px; 
}
#chartTable .jqplot-table-legend td{
	border:0px solid white;
}
/* Added by Preeti for TENJINCG-1019 ends */