.modal-open {
    overflow: hidden;
}
 
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
 
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
 
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
 
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
 
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
 
.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
 
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}
 
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity = 0);
}
 
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity = 50);
}
 
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}
 
.modal-header .close {
    margin-top: -2px;
}
 
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
 
.modal-body {
    position: relative;
    padding: 15px;
}
 
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
 
.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}
 
.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}
 
.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}
 
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
 
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity = 20);
    opacity: .2;
}
 
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
 
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity = 50);
    opacity: .5;
}
 
#btnImportLogs {
    background-colour: blue;
}
/* added by manish for modal ends */
 
.subframe_content {
    display: block;
    width: 100%;
    margin: 0 auto;
    min-height: 120px;
    padding-bottom: 20px;
}
 
.subframe_title {
    width: 644px;
    height: 20px;
    background: url('images/bg.gif');
    color: white;
    font-family: 'Open Sans';
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    font-weight: bold;
    margin-bottom: 10px;
}
 
.subframe_actions {
    display: inline-block;
    width: 100%;
    background-color: #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    text-align: center;
}
 
.highlight-icon-holder {
    display: block;
    max-height: 50px;
    margin-bottom: 10px;
    text-align: center;
}
 
.highlight-icon-holder>img {
    height: 50px;
}
 
.subframe_single_message {
    width: 80%;
    text-align: center;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    font-size: 1.3em;
}
 
#syncTestCases{
    background-color: #fff;
}