@CHARSET "ISO-8859-1";

ul.ttree, ul.ttree ul
{
	white-space: nowrap;
	display: block;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
	/* padding: 0; */
	/* padding-left:22px; */
	color: #555;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

ul.ttree
{
	padding:0;
}

ul.ttree ul
{
	padding-left:22px;
}

ul.ttree li.ttree-br-closed ul
{
	/* display:none; */
}

ul.ttree li.ttree-br-opened ul
{
	/* display:block; */
}

ul.ttree li a
{
	cursor:pointer;
}

ul.ttree li > i
{
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	display: inline-block;
	width: 24px;
	line-height: 20px;
	vertical-align: middle;
	height:24px;
	/* border:1px solid black; */
	cursor:pointer;
}

ul.ttree .ttree-br-closed > i
{
	
	background: url(tree.png) -132px -4px;
}

ul.ttree .ttree-br-opened > i
{
	
	background: url(tree.png) -100px -4px;
}


ul.ttree .ttree-node > i
{
	background: url(tree.png) -68px -4px;
}

ul.ttree .ttree-branch, ul.ttree .ttree-node
{
	background:url(tree.png) -292px -4px;
	background-repeat:repeat-y;
}

ul.ttree .ttree-end
{
	background: 0 0;
}

ul.ttree a
{
	/* padding-left: 20px; */
	height: 21px;
	display: inline-block;
	line-height: 21px;
	/* padding-right:3px;
	padding-top:3px;
	padding-bottom:3px; */
	padding: 0 4px 0 1px;
}

ul.ttree a > i {
	height: 16px;
	display: inline-block;
	/* border: 1px solid black; */
	width: 24px;
	line-height:20px;
	vertical-align:middle;
}

ul.ttree a:hover
{
	background:#e7f4f9;
	border-radius:2px;
}

ul.ttree a.ttree-selected {
background-color:#80DCFF; 
border-radius: 3px;
}

ul.ttree a.ttree-domain > i
{
	background-image:url('domain.png');
	background-repeat:no-repeat;
}

ul.ttree a.ttree-project > i
{
	background-image:url('project.png');
	background-repeat:no-repeat;
}

/*changed by anudeep on 04092015 for deactivate projects*/

ul.ttree a.ttree-inactiveproject > i
{
	background-image:url('inactiveproject.png');
	background-repeat:no-repeat;
}
/*changed by anudeep on 04092015 for deactivate projects*/

ul.ttree a.ttree-testcase > i
{
	background-image:url('test.png');
	background-repeat:no-repeat;
}

ul.ttree a.ttree-testset > i
{
	background-image:url('testset.png');
	background-repeat:no-repeat;
}

ul.ttree a.ttree-folder > i, ul.ttree a.ttree-project_folder > i, ul.ttree a.ttree-tcfolder > i, ul.ttree a.ttree-tsfolder > i
{
	background-image:url('folder.png');
	background-repeat:no-repeat;
}
ul.ttree a.ttree-MAIN > i
{
	background-image:url('house.png');
	background-repeat:no-repeat;
}

ul.ttree a.ttree-Action > i, ul.ttree a.ttree-Link > i, ul.ttree a.ttree-TAB > i
{
	background-image:url('page.png');
	background-repeat:no-repeat;
}
ul.ttree a.ttree-Textbox > i
{
	background-image:url('textfield.png');
	background-repeat:no-repeat;	
}

ul.ttree a.ttree-List > i
{
	background-image:url('combobox.png');
	background-repeat:no-repeat;	
}

ul.ttree a.ttree-Textarea > i
{
	background-image:url('textarea.png');
	background-repeat:no-repeat;	
}

ul.ttree a.ttree-Table > i
{
	background-image:url('table.png');
	background-repeat:no-repeat;	
}

ul.ttree a.ttree-Radio > i
{
	background-image:url('radio.png');
	background-repeat:no-repeat;	
}

ul.ttree a.ttree-Checkbox > i
{
	background-image:url('checkbox.png');
	background-repeat:no-repeat;	
}

ul.ttree a.ttree-FormButton > i
{
	background-image:url('button.png');
	background-repeat:no-repeat;	
}